<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="move">
        <%= link_to 'New Article', new_article_path,class: "aqua"%>
      </li>
      <li class="move">
        <%= link_to 'All articles', example_path,class: "aqua" %>
      </li>
      <li class="move" >
        <%= link_to 'Comments', user_comments_path(current_user),class: "aqua"%>
      <li>
      <li >
        <%= link_to 'News', news_index_path,class: "aqua"%>
      <li>
      <span style="color: wheat;margin-left: 340px;">Logged in as</span><strong style="color: wheat; padding: 0 10px 0 5px;"><%= current_user.email%></strong>
      <li class="nav-item" style="padding-right: 10px;">
        <div class="dropdown">
          <button class="dropdown-toggle" style="background-color: #212529;color: #0056b3;" type="button" data-toggle="dropdown">Notifications
          <span class="caret"></span></button>
          <ul class="dropdown-menu" style="background-color: bisque;">
            <% current_user.notifications.each do |notify| %>
              <li style="width: 283px;cursor: pointer;"><%= notify.message %><span style="font-style: italic;font-size: 10px;color: brown;">(<%= time_ago_in_words(notify.created_at) %> ago)</span><hr></li>
            <% end %>
          </ul>
        </div>
        </div>
      </li>
      <li class="nav-item active" style="padding-right: 10px;">
        <%= link_to 'Profile', profile_path(current_user) %>
      </li>
       <li class="nav-item" style="padding-right: 10px;">
        <%= link_to "Users", users_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
     
    <% else %>
      <li class="nav-item" style="padding-right: 10px;">
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li class="nav-item" style="\padding-right: 10px;">
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>

