<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="move">
        <%= link_to 'New Article', new_article_path,class: "aqua"%>
      </li>
      <li class="move">
        <%= link_to 'All articles', example_path,class: "aqua" %>
      </li>
      <li class="move" >
        <%= link_to 'Comments', user_comments_path(current_user),class: "aqua"%>
      <li>
      <li >
        <%= link_to 'News', news_index_path,class: "aqua"%>
      <li>
      <span class="left wheat">Logged in as</span><strong class="emails-style wheat" style="padding-left: 5px;"><%= current_user.email%></strong>
      <li class="nav-item right">
        <div class="dropdown">
          <button class="dropdown-toggle design" type="button" data-toggle="dropdown">Notifications
          <span class="caret"></span></button>
          <ul class="dropdown-menu drop-bg">
            <% notification_list.each do |notify| %>
              <li class="drop-li"><%= notify.message %><span class="time">(<%= time_ago_in_words(notify.created_at) %> ago)</span><hr></li>
            <% end %>
          </ul>
        </div>
        </div>
      </li>
      <li class="nav-item active right">
        <%= link_to 'Profile', profile_path(current_user) %>
      </li>
       <li class="nav-item right">
        <%= link_to "Users", users_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
     
    <% else %>
      <li class="nav-item right">
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li class="nav-item right">
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>


<style type="text/css">
  .right{
    padding-right: 10px;
  }
  .design{
    background-color: #212529;
    color: #0056b3;
  }
  .drop-li{
    width: 283px;
    cursor: pointer;
  }
  .time{
    font-style: italic;
    font-size: 10px;
    color: brown;
  }
  .drop-bg{
    background-color: bisque;
    height: 400px;
    width: 300px;
    overflow-y: scroll;
  }
  .email-style{
    padding: 0 10px 0 5px;
  }
  .wheat{
    color: wheat;
  }
  .left{
    margin-left: 340px;
  }
  
</style>

    